# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js
.pnp.*
.npm
web_modules/

# Yarn related
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# next.js
/.next/
**/.next/
.now
*.sqlite*
*.sqlite-journal

# Blitz.js
.blitz**
blitz-log.log
# ignore physical backups of blitz db
db/bak.user*.json
db/premium-checklists.json
**/db/bak.user*.json
**/db/premium-checklists.json

# production/build
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
.env.local
.env.*.local
.envrc
!.env.template

# Logs
logs
*.log

# Vercel
.vercel

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing
.coverage
*.lcov
.nyc_output
lib-cov

# Caches
.yarn-integrity
.eslintcache
.node_repl_history
*.tsbuildinfo
next-env.d.ts

# Serverless directories
.serverless/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Stripe and Teachable data
stripe_paymen*.json
teachable_dat*.json

# Database backups
db/*.bak.json

# Python deps
*.venv
*.venv/
*/venv/
__pycache__/

# misc local, scratch, and secret files
*.ignoreme.*
