@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ladderly-violet-700: rgb(102, 34, 170);
  }
}

@layer components {
  .text-link-fancy {
    @apply relative pb-0.5 text-ladderly-violet-600;
  }
  .text-link-fancy::after {
    @apply absolute bottom-0 left-0 h-[1px] w-full bg-purple-50 transition-all duration-300 ease-in-out content-[''];
    background-image: linear-gradient(
      to right,
      rgb(99, 1, 235),
      rgb(124, 58, 237),
      rgb(231, 216, 246)
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
  }
  .text-link-fancy:hover::after {
    background-size: 100% 100%;
  }
  .prose table {
    @apply border-collapse;
  }
  .prose th {
    @apply bg-ladderly-light-purple-1 px-4 py-2 text-left;
  }
  .prose td {
    @apply border-t border-ladderly-light-purple-2 px-4 py-2;
  }
}
